*
!layout.txt
!.gitignore
!*readme.md
!__init__.py
!/crews
!crews/*
!/agents
!agents/*
!/tasks
!tasks/*
!/model_loader
!model_loader/*
!/tools
!tools/*
!main.py
!requirements.txt
!config.py
!.flake8
!setup.py
!*example*
